/* ================= Header ================= */
.region-header .contextual-region {
  position: static;
}
/* ================= Header - Hero Carousel  ================= */
.hero-carousel-wrapper{
  height: 100vh;
  border: 1px solid black;
}

.hero-carousel-list {
  height: 100%;
  width:100%;
  position: relative;
}

.hero-carousel-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}
.hero-carousel-item article {
  height: 100%;
}
.hero-carousel-image {
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-carousel-list .parallax-bg{
  filter: brightness(50%);
}

.group-carousel-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.group-carousel-content h2{
  font-size: 25px;
}

.group-carousel-content h2,.group-carousel-content .body p{
  color: var(--white-darker);
}

.group-carousel-content .body p a{
  margin-top: 0.75rem;
  display: inline-block;
  padding: .75rem 1rem;
  color: var(--white-light);
  background-color:var(--green-light);
  transition: background-color var(--duration-s) var(--timing-normal);
}

.group-carousel-content .body p a:hover{
  background-color:var(--green-dark);
}

.carousel-control{
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);

}

.carousel-control:hover{
  background-color: var(--white-darker);
}
.carousel-control--left{
  left: 5%;
}

.carousel-control--right{
  right: 5%;
}

.carousel-dots{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap:.5rem;
}
.carousel-dot{
  width: 5%;
  height: 2px;
  background-color: var(--white-darker);
  border-radius: 35px;
  transition: color ease-in 300ms;
  cursor: pointer;
}

.carousel-dot--active, .carousel-dot:hover{
  background-color: var(--white-light);;
}


